@font-face {
	font-family: 'RobotoBlack';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
}


@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'NoteThis';
	src: url('../fonts/Note_this.ttf') format('truetype');
}

body, footer {
	background-color: #343a40;
}

footer {
	color: white;
}

p, h1, h2, h3, h4 {
	margin: 0;
}

.jumbotron-header-img {
	background: url("../images/home.jpg") no-repeat center center fixed; 
	background-size: cover;
	margin-bottom: 0 !important;
}

#textJumbotron h1, #notConnectedHome h1 {
	font-family: NoteThis, Helvetica, sans-serif;
}

#textJumbotron, #notConnectedHome, #register, #connect,
.date-serial, .update-date-serial, #send-comment,
.comment-content, #adminHome h4, #adminHome p {
	font-family: RobotoLight, Helvetica, sans-serif;
}

.title-serial, #adminHome h2, #adminNewSerial h2,
#adminDeleteSerial h2, #adminUpdateSerial h2, #adminCommentSerial h2 {
	font-family: RobotoBlack, Helvetica, sans-serif;
}

#textJumbotron {
	text-align: center;
	background-color: rgba(52, 58, 64, 0.75);
	color: white;
	padding: 10px;
	border-radius: 5px;
}

.error {
	color: red;
}

#notConnectedHome, #register {
	background-size: cover;
	min-height: 90vh;
	padding: 0;
	color: white;	
}

#notConnectedHome {
	background: url("../images/home.jpg") no-repeat center center fixed; 
}

#register {
	background: url("../images/register.jpg") no-repeat center center fixed; 
	text-align: center;
}

#connect {
	background: url("../images/connexion.jpg") no-repeat center center fixed; 
	text-align: center;
	background-size: cover;
	min-height: 90vh;
	padding: 0;
	color: white;
}

#textNotConnectedHome, #formRegister, #formConnect {
	background-color: rgba(52, 58, 64, 0.75);
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 1.3s;
}

#formRegister h2, #formConnect h2 {
	color: #28a745;
	margin-bottom: 10px;
}

.container-serial {
	margin: 20px 0;
}

.title-serial {
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #28a745;
	text-align: center;
	margin-bottom: 10px;
}

.date-serial, .update-date-serial {
	font-size: 0.8rem;
	padding-left: 5px;
	background-color: white;
}

.content-serial {
	background-color: white;
	padding: 15px;
	min-height: 30vh;
	max-height: 30vh;
	overflow: hidden;
}

.plus-serial {
	background-color: white;
	text-align: center;
	padding: 10px 0;
	box-shadow: 0px -30px 30px -10px white;
}

#content-serial {
	background-color: white;
	padding: 20px;
}

#send-comment {
	font-size: 1.2rem;
	color: #28a745;
	text-align: center;
	margin: 30px 0;
}

.user-comment {
 	overflow: hidden;
 	text-align: center;
	color: #28a745;
	margin-top: 10px;
}

.user-comment::before, .user-comment::after {
 	content: "";
 	display: inline-block;
 	height: 3px;
 	position: relative;
 	vertical-align: middle;
 	width: 50%;
	background-color: #28a745;
}

.user-comment::before {
	right: 0.5rem;
 	margin-left: -50%
}

.user-comment::after {
	left: 0.5rem;
 	margin-right: -50%;
}

.comment-content {
	color: white;
}

#adminHome {
	min-height: 80vh;
}

#adminHome h2, #adminNewSerial h2, #adminDeleteSerial h2,
#adminUpdateSerial h2, #adminCommentSerial h2 {
	text-align: center;
	text-transform: uppercase;
	color: #28a745;
	margin-bottom: 20px;
}

#adminHome h4 {
	color: #28a745;
}

#adminHome .submit-button {
	background-color: #343a40;
	border: none;
}

#adminHome .submit-button:focus {
	box-shadow: none;
}

#adminHome p {
	text-align: center;
	color: white;
}

#adminNewSerial label, #adminDeleteSerial label, #adminUpdateSerial label {
	color: white;
}

#adminNewSerial .form-group, #adminDeleteSerial .form-group,
#adminUpdateSerial .form-group {
	text-align: center;
}

#editserial {
	width: 100%;
}

#newSerialInfo, #deleteSerialInfo, #updateSerialInfo {
	color: #28a745;
}

#adminCommentSerial {
	min-height: 70vh;
}


