/*
@font-face {
	font-family: 'FontAwesome';
	src: 	url('../fonts/fa-solid-900.woff') format('woff'),
			url('../fonts/fa-solid-900.svg') format('svg'),
			url('../fonts/fa-solid-900.ttf') format('truetype'),
			url('../fonts/fa-solid-900.eot') format('eot');
}

*/

@font-face {
	font-family: 'RobotoBlack';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
}


@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'NoteThis';
	src: url('../fonts/Note_this.ttf') format('truetype');
}

body {
	background-color: #343a40;
}

p, h1, h2, h3, h4 {
	margin: 0;
}

/* HEADER */

.jumbotron-header-img {
	background: url("../images/home.jpg") no-repeat center center fixed; 
	background-size: cover;
	margin-bottom: 0 !important;
}

#textJumbotron {
	font-family: RobotoLight, Helvetica, sans-serif;
	text-align: center;
	background-color: rgba(52, 58, 64, 0.75);
	color: white;
	padding: 10px;
	border-radius: 5px;
}

#textJumbotron h1 {
	font-family: NoteThis, Helvetica, sans-serif;
}
/* SECTION */

.error {
	color: red;
}

/* NotConnectedHomeView */

#notConnectedHome {
	font-family: RobotoLight, Helvetica, sans-serif;
	background: url("../images/home.jpg") no-repeat center center fixed; 
	background-size: cover;
	min-height: 90vh;
	padding: 0;
	color: white;
}

#textNotConnectedHome {
	background-color: rgba(52, 58, 64, 0.75);
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 1.3s;
}

#notConnectedHome h1 {
	font-family: NoteThis, Helvetica, sans-serif;
}

/* RegisterView */

#register {
	font-family: RobotoLight, Helvetica, sans-serif;
	background: url("../images/register.jpg") no-repeat center center fixed; 
	background-size: cover;
	text-align: center;
	min-height: 90vh;
	padding: 0;
	color: white;
}

#formRegister {
	background-color: rgba(52, 58, 64, 0.75);
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 1.3s;
}

#formRegister h2 {
	color: #28a745;
	margin-bottom: 10px;
}

/* ConnexionView */

#connect {
	font-family: RobotoLight, Helvetica, sans-serif;
	background: url("../images/connexion.jpg") no-repeat center center fixed; 
	background-size: cover;
	text-align: center;
	min-height: 90vh;
	padding: 0;
	color: white;
}

#formConnect {
	background-color: rgba(52, 58, 64, 0.75);
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 1.3s;
}

#formConnect h2 {
	color: #28a745;
	margin-bottom: 10px;
}

/* ConnectedHomeView */

.container-serial {
	margin: 20px 0;
}

.title-serial {
	font-family: RobotoBlack, Helvetica, sans-serif;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #28a745;
	text-align: center;
	margin-bottom: 10px;
}

.date-serial, .update-date-serial {
	font-family: RobotoLight, Helvetica, sans-serif;
	font-size: 0.8rem;
	padding-left: 5px;
	background-color: white;
}

.content-serial {
	background-color: white;
	padding: 15px;
	min-height: 30vh;
	max-height: 30vh;
	overflow: hidden;
}

.plus-serial {
	background-color: white;
	text-align: center;
	padding: 10px 0;
	box-shadow: 0px -30px 30px -10px white;
}

/* ReadSerialView */

#content-serial {
	background-color: white;
	padding: 20px;
}

#send-comment {
	font-family: RobotoLight, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: #28a745;
	text-align: center;
	margin: 30px 0;
}

.user-comment {
 	overflow: hidden;
 	text-align: center;
	color: #28a745;
	margin-top: 10px;
}

.user-comment::before, .user-comment::after {
 	content: "";
 	display: inline-block;
 	height: 3px;
 	position: relative;
 	vertical-align: middle;
 	width: 50%;
	background-color: #28a745;
}

.user-comment::before {
	right: 0.5rem;
 	margin-left: -50%
}

.user-comment::after {
	left: 0.5rem;
 	margin-right: -50%;
}

.comment-content {
	font-family: RobotoLight, Helvetica, sans-serif;
	color: white;
}

/* adminHomeView */

#adminHome h2 {
	font-family: RobotoBlack, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #28a745;
	margin-bottom: 20px;
}

#adminHome h4 {
	font-family: RobotoLight, Helvetica, sans-serif;
	color: #28a745;
}

#adminHome .submit-button {
	background-color: #343a40;
	border: none;
}

#adminHome .submit-button:focus {
	box-shadow: none;
}

#adminHome p {
	font-family: RobotoLight, Helvetica, sans-serif;
	text-align: center;
	color: white;
}

/* NewSerialView */

#adminNewSerial h2 {
	font-family: RobotoBlack, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #28a745;
	margin-bottom: 20px;
}

#adminNewSerial label {
	color: white;
}

#adminNewSerial .form-group {
	text-align: center;
}

#editserial {
	width: 100%;
}

#newSerialInfo {
	color: #28a745;
}

/* ChooseDeleteSerialView */

#adminDeleteSerial h2 {
	font-family: RobotoBlack, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #28a745;
	margin-bottom: 20px;
}

#adminDeleteSerial label {
	color: white;
}

#adminDeleteSerial .form-group {
	text-align: center;
}

#deleteSerialInfo {
	color: #28a745;
}

/* ChooseUpdateSerialView */

#adminUpdateSerial h2 {
	font-family: RobotoBlack, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #28a745;
	margin-bottom: 20px;
}

#adminUpdateSerial label {
	color: white;
}

#adminUpdateSerial .form-group {
	text-align: center;
}

#updateSerialInfo {
	color: #28a745;
}

/* SerialCommentView */

#adminCommentSerial h2 {
	font-family: RobotoBlack, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #28a745;
	margin-bottom: 20px;
}

/* FOOTER */
footer {
	background-color: #343a40;
	color: white;
}


